src/Factory/src/wsdl/localhost_17952/Magazyn/Magazyn.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://localhost:8080/Magazyn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://localhost:8080/Magazyn/">

<xs:element name="ItemUsed" type="tns:ItemUsed"/>

<xs:element name="NoItemFound" type="tns:NoItemFound"/>

<xs:element name="dodajForme" type="tns:dodajForme"/>

<xs:element name="dodajFormeResponse" type="tns:dodajFormeResponse"/>

<xs:element name="dodajSurowiec" type="tns:dodajSurowiec"/>

<xs:element name="dodajSurowiecResponse" type="tns:dodajSurowiecResponse"/>

<xs:element name="umiescProdukt" type="tns:umiescProdukt"/>

<xs:element name="umiescProduktResponse" type="tns:umiescProduktResponse"/>

<xs:element name="uzyjForme" type="tns:uzyjForme"/>

<xs:element name="uzyjFormeResponse" type="tns:uzyjFormeResponse"/>

<xs:element name="wezProdukt" type="tns:wezProdukt"/>

<xs:element name="wezProduktResponse" type="tns:wezProduktResponse"/>

<xs:element name="wezSurowiec" type="tns:wezSurowiec"/>

<xs:element name="wezSurowiecResponse" type="tns:wezSurowiecResponse"/>

<xs:element name="zwrocListeIDProduktow" type="tns:zwrocListeIDProduktow"/>

<xs:element name="zwrocListeIDProduktowResponse" type="tns:zwrocListeIDProduktowResponse"/>

<xs:complexType name="umiescProdukt">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int"/>
<xs:element name="stan" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="umiescProduktResponse">
<xs:sequence>
<xs:element name="return" type="tns:projekt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projekt">
<xs:sequence>
<xs:element name="stan" type="tns:stan" minOccurs="0"/>
<xs:element name="typ" type="tns:idProjektu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wezSurowiec">
<xs:sequence>
<xs:element name="ilosc" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wezSurowiecResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zwrocListeIDProduktow">
<xs:sequence>
<xs:element name="stan" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zwrocListeIDProduktowResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wezProdukt">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int"/>
<xs:element name="stan" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wezProduktResponse">
<xs:sequence>
<xs:element name="return" type="tns:projekt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoItemFound">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uzyjForme">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uzyjFormeResponse">
<xs:sequence>
<xs:element name="return" type="tns:forma" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forma">
<xs:sequence>
<xs:element name="typ" type="tns:idProjektu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ItemUsed">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajForme">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajFormeResponse">
<xs:sequence>
<xs:element name="return" type="tns:forma" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajSurowiec">
<xs:sequence>
<xs:element name="ilosc" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajSurowiecResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="stan">
<xs:restriction base="xs:string">
<xs:enumeration value="ODLANY"/>
<xs:enumeration value="OSZLIFOWANY"/>
<xs:enumeration value="POMALOWANY"/>
<xs:enumeration value="DO_KONTROLI"/>
<xs:enumeration value="GOTOWY"/>
<xs:enumeration value="ZEPSUTY"/>
<xs:enumeration value="DO_RECYKLINGU"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="idProjektu">
<xs:restriction base="xs:string">
<xs:enumeration value="KOLO"/>
<xs:enumeration value="SILNIK"/>
<xs:enumeration value="KAROSERIA"/>
<xs:enumeration value="PILOT"/>
<xs:enumeration value="AUTO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>