src/Magazyn/WSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://magazyn.azu.pk.edu.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://magazyn.azu.pk.edu.pl/" name="Magazyn">
<types>
<xsd:schema>
<xsd:import namespace="http://magazyn.azu.pk.edu.pl/" schemaLocation="http://localhost:8080/Magazyn/Magazyn?xsd=1"/>
</xsd:schema>
</types>
<message name="wezProdukt">
<part name="parameters" element="tns:wezProdukt"/>
</message>
<message name="wezProduktResponse">
<part name="parameters" element="tns:wezProduktResponse"/>
</message>
<message name="wezSurowiec">
<part name="parameters" element="tns:wezSurowiec"/>
</message>
<message name="wezSurowiecResponse">
<part name="parameters" element="tns:wezSurowiecResponse"/>
</message>
<message name="dodajForme">
<part name="parameters" element="tns:dodajForme"/>
</message>
<message name="dodajFormeResponse">
<part name="parameters" element="tns:dodajFormeResponse"/>
</message>
<message name="zwrocListeIDProduktow">
<part name="parameters" element="tns:zwrocListeIDProduktow"/>
</message>
<message name="zwrocListeIDProduktowResponse">
<part name="parameters" element="tns:zwrocListeIDProduktowResponse"/>
</message>
<message name="zamowSurowiec">
<part name="parameters" element="tns:zamowSurowiec"/>
</message>
<message name="zamowSurowiecResponse">
<part name="parameters" element="tns:zamowSurowiecResponse"/>
</message>
<message name="dodajSurowiec">
<part name="parameters" element="tns:dodajSurowiec"/>
</message>
<message name="dodajSurowiecResponse">
<part name="parameters" element="tns:dodajSurowiecResponse"/>
</message>
<message name="uzyjForme">
<part name="parameters" element="tns:uzyjForme"/>
</message>
<message name="uzyjFormeResponse">
<part name="parameters" element="tns:uzyjFormeResponse"/>
</message>
<message name="umiescProdukt">
<part name="parameters" element="tns:umiescProdukt"/>
</message>
<message name="umiescProduktResponse">
<part name="parameters" element="tns:umiescProduktResponse"/>
</message>
<portType name="Magazyn">
<operation name="wezProdukt">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/wezProduktRequest" message="tns:wezProdukt"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/wezProduktResponse" message="tns:wezProduktResponse"/>
</operation>
<operation name="wezSurowiec">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/wezSurowiecRequest" message="tns:wezSurowiec"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/wezSurowiecResponse" message="tns:wezSurowiecResponse"/>
</operation>
<operation name="dodajForme">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/dodajFormeRequest" message="tns:dodajForme"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/dodajFormeResponse" message="tns:dodajFormeResponse"/>
</operation>
<operation name="zwrocListeIDProduktow">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/zwrocListeIDProduktowRequest" message="tns:zwrocListeIDProduktow"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/zwrocListeIDProduktowResponse" message="tns:zwrocListeIDProduktowResponse"/>
</operation>
<operation name="zamowSurowiec">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/zamowSurowiecRequest" message="tns:zamowSurowiec"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/zamowSurowiecResponse" message="tns:zamowSurowiecResponse"/>
</operation>
<operation name="dodajSurowiec">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/dodajSurowiecRequest" message="tns:dodajSurowiec"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/dodajSurowiecResponse" message="tns:dodajSurowiecResponse"/>
</operation>
<operation name="uzyjForme">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/uzyjFormeRequest" message="tns:uzyjForme"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/uzyjFormeResponse" message="tns:uzyjFormeResponse"/>
</operation>
<operation name="umiescProdukt">
<input wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/umiescProduktRequest" message="tns:umiescProdukt"/>
<output wsam:Action="http://magazyn.azu.pk.edu.pl/Magazyn/umiescProduktResponse" message="tns:umiescProduktResponse"/>
</operation>
</portType>
<binding name="MagazynPortBinding" type="tns:Magazyn">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="wezProdukt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wezSurowiec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajForme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zwrocListeIDProduktow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zamowSurowiec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajSurowiec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uzyjForme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="umiescProdukt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Magazyn">
<port name="MagazynPort" binding="tns:MagazynPortBinding">
<soap:address location="http://localhost:8080/Magazyn/Magazyn"/>
</port>
</service>
</definitions>
