src/Spedycja/src/wsdl/localhost_8080/Factory/Factory.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://factory.marles.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://factory.marles.pl/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="maluj" type="tns:maluj"/>

<xs:element name="malujResponse" type="tns:malujResponse"/>

<xs:element name="szlifuj" type="tns:szlifuj"/>

<xs:element name="szlifujResponse" type="tns:szlifujResponse"/>

<xs:element name="wykonajForme" type="tns:wykonajForme"/>

<xs:element name="wykonajFormeResponse" type="tns:wykonajFormeResponse"/>

<xs:element name="wykonajOdlew" type="tns:wykonajOdlew"/>

<xs:element name="wykonajOdlewResponse" type="tns:wykonajOdlewResponse"/>

<xs:element name="zlozZamowienie" type="tns:zlozZamowienie"/>

<xs:element name="zlozZamowienieResponse" type="tns:zlozZamowienieResponse"/>

<xs:complexType name="wykonajForme">
<xs:sequence>
<xs:element name="ID_Projektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wykonajFormeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="szlifuj">
<xs:sequence>
<xs:element name="ID_Projektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="szlifujResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wykonajOdlew">
<xs:sequence>
<xs:element name="ID_Projektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wykonajOdlewResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="maluj">
<xs:sequence>
<xs:element name="ID_Projektu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="malujResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zlozZamowienie">
<xs:sequence>
<xs:element name="ilosc" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zlozZamowienieResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>