src/Spedycja/src/wsdl/localhost_8080/Factory/Factory.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://factory.marles.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://factory.marles.pl/" name="Factory">
<types>
<xsd:schema>
<xsd:import namespace="http://factory.marles.pl/" schemaLocation="http://localhost:8080/Factory/Factory?xsd=1"/>
</xsd:schema>
</types>
<message name="wykonajForme">
<part name="parameters" element="tns:wykonajForme"/>
</message>
<message name="wykonajFormeResponse">
<part name="parameters" element="tns:wykonajFormeResponse"/>
</message>
<message name="wykonajOdlew">
<part name="parameters" element="tns:wykonajOdlew"/>
</message>
<message name="wykonajOdlewResponse">
<part name="parameters" element="tns:wykonajOdlewResponse"/>
</message>
<message name="szlifuj">
<part name="parameters" element="tns:szlifuj"/>
</message>
<message name="szlifujResponse">
<part name="parameters" element="tns:szlifujResponse"/>
</message>
<message name="maluj">
<part name="parameters" element="tns:maluj"/>
</message>
<message name="malujResponse">
<part name="parameters" element="tns:malujResponse"/>
</message>
<message name="zlozZamowienie">
<part name="parameters" element="tns:zlozZamowienie"/>
</message>
<message name="zlozZamowienieResponse">
<part name="parameters" element="tns:zlozZamowienieResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="Factory">
<operation name="wykonajForme">
<input wsam:Action="http://factory.marles.pl/Factory/wykonajFormeRequest" message="tns:wykonajForme"/>
<output wsam:Action="http://factory.marles.pl/Factory/wykonajFormeResponse" message="tns:wykonajFormeResponse"/>
</operation>
<operation name="wykonajOdlew">
<input wsam:Action="http://factory.marles.pl/Factory/wykonajOdlewRequest" message="tns:wykonajOdlew"/>
<output wsam:Action="http://factory.marles.pl/Factory/wykonajOdlewResponse" message="tns:wykonajOdlewResponse"/>
</operation>
<operation name="szlifuj">
<input wsam:Action="http://factory.marles.pl/Factory/szlifujRequest" message="tns:szlifuj"/>
<output wsam:Action="http://factory.marles.pl/Factory/szlifujResponse" message="tns:szlifujResponse"/>
</operation>
<operation name="maluj">
<input wsam:Action="http://factory.marles.pl/Factory/malujRequest" message="tns:maluj"/>
<output wsam:Action="http://factory.marles.pl/Factory/malujResponse" message="tns:malujResponse"/>
</operation>
<operation name="zlozZamowienie">
<input wsam:Action="http://factory.marles.pl/Factory/zlozZamowienieRequest" message="tns:zlozZamowienie"/>
<output wsam:Action="http://factory.marles.pl/Factory/zlozZamowienieResponse" message="tns:zlozZamowienieResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://factory.marles.pl/Factory/zlozZamowienie/Fault/IOException"/>
</operation>
</portType>
<binding name="FactoryPortBinding" type="tns:Factory">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="wykonajForme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wykonajOdlew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="szlifuj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="maluj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zlozZamowienie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Factory">
<port name="FactoryPort" binding="tns:FactoryPortBinding">
<soap:address location="http://localhost:8080/Factory/Factory"/>
</port>
</service>
</definitions>