src/RepairClientApp/RepairClient/RepairClient/Service References/RepairService/RepairService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="naprawProdukt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProduktu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stan" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="naprawProduktResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="naprawProduktResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="naprawProduktSoapIn">
    <wsdl:part name="parameters" element="tns:naprawProdukt" />
  </wsdl:message>
  <wsdl:message name="naprawProduktSoapOut">
    <wsdl:part name="parameters" element="tns:naprawProduktResponse" />
  </wsdl:message>
  <wsdl:portType name="RepairServiceSoap">
    <wsdl:operation name="naprawProdukt">
      <wsdl:input message="tns:naprawProduktSoapIn" />
      <wsdl:output message="tns:naprawProduktSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepairServiceSoap" type="tns:RepairServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="naprawProdukt">
      <soap:operation soapAction="http://tempuri.org/naprawProdukt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RepairServiceSoap12" type="tns:RepairServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="naprawProdukt">
      <soap12:operation soapAction="http://tempuri.org/naprawProdukt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepairService">
    <wsdl:port name="RepairServiceSoap" binding="tns:RepairServiceSoap">
      <soap:address location="http://localhost:57415/RepairService.asmx" />
    </wsdl:port>
    <wsdl:port name="RepairServiceSoap12" binding="tns:RepairServiceSoap12">
      <soap12:address location="http://localhost:57415/RepairService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>