src/Magazyn/wsdl/Magazyn.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://localhost:8080/Magazyn/" name="Magazyn" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://localhost:8080/Magazyn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://localhost:8080/Magazyn/" schemaLocation="Magazyn_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="dodajForme">
    <part name="parameters" element="tns:dodajForme"/>
  </message>
  <message name="dodajFormeResponse">
    <part name="parameters" element="tns:dodajFormeResponse"/>
  </message>
  <message name="wezProdukt">
    <part name="parameters" element="tns:wezProdukt"/>
  </message>
  <message name="wezProduktResponse">
    <part name="parameters" element="tns:wezProduktResponse"/>
  </message>
  <message name="NoItemFound">
    <part name="fault" element="tns:NoItemFound"/>
  </message>
  <message name="wezSurowiec">
    <part name="parameters" element="tns:wezSurowiec"/>
  </message>
  <message name="uzyjForme">
    <part name="parameters" element="tns:uzyjForme"/>
  </message>
  <message name="uzyjFormeResponse">
    <part name="parameters" element="tns:uzyjFormeResponse"/>
  </message>
  <message name="ItemUsed">
    <part name="fault" element="tns:ItemUsed"/>
  </message>
  <message name="umiescProdukt">
    <part name="parameters" element="tns:umiescProdukt"/>
  </message>
  <message name="umiescProduktResponse">
    <part name="parameters" element="tns:umiescProduktResponse"/>
  </message>
  <message name="dodajSurowiec">
    <part name="parameters" element="tns:dodajSurowiec"/>
  </message>
  <message name="dodajSurowiecResponse">
    <part name="parameters" element="tns:dodajSurowiecResponse"/>
  </message>
  <message name="zwrocListeIDProduktow">
    <part name="parameters" element="tns:zwrocListeIDProduktow"/>
  </message>
  <message name="zwrocListeIDProduktowResponse">
    <part name="parameters" element="tns:zwrocListeIDProduktowResponse"/>
  </message>
  <portType name="Magazyn">
    <operation name="dodajForme">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/dodajFormeRequest" message="tns:dodajForme"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/dodajFormeResponse" message="tns:dodajFormeResponse"/>
    </operation>
    <operation name="wezProdukt">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/wezProduktRequest" message="tns:wezProdukt"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/wezProduktResponse" message="tns:wezProduktResponse"/>
      <fault message="tns:NoItemFound" name="NoItemFound" wsam:Action="http://localhost:8080/Magazyn/Magazyn/wezProdukt/Fault/NoItemFound"/>
    </operation>
    <operation name="wezSurowiec">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/wezSurowiec" message="tns:wezSurowiec"/>
    </operation>
    <operation name="uzyjForme">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/uzyjFormeRequest" message="tns:uzyjForme"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/uzyjFormeResponse" message="tns:uzyjFormeResponse"/>
      <fault message="tns:NoItemFound" name="NoItemFound" wsam:Action="http://localhost:8080/Magazyn/Magazyn/uzyjForme/Fault/NoItemFound"/>
      <fault message="tns:ItemUsed" name="ItemUsed" wsam:Action="http://localhost:8080/Magazyn/Magazyn/uzyjForme/Fault/ItemUsed"/>
    </operation>
    <operation name="umiescProdukt">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/umiescProduktRequest" message="tns:umiescProdukt"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/umiescProduktResponse" message="tns:umiescProduktResponse"/>
    </operation>
    <operation name="dodajSurowiec">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/dodajSurowiecRequest" message="tns:dodajSurowiec"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/dodajSurowiecResponse" message="tns:dodajSurowiecResponse"/>
    </operation>
    <operation name="zwrocListeIDProduktow">
      <input wsam:Action="http://localhost:8080/Magazyn/Magazyn/zwrocListeIDProduktowRequest" message="tns:zwrocListeIDProduktow"/>
      <output wsam:Action="http://localhost:8080/Magazyn/Magazyn/zwrocListeIDProduktowResponse" message="tns:zwrocListeIDProduktowResponse"/>
    </operation>
  </portType>
  <binding name="MagazynPortBinding" type="tns:Magazyn">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="dodajForme">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wezProdukt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoItemFound">
        <soap:fault name="NoItemFound" use="literal"/>
      </fault>
    </operation>
    <operation name="wezSurowiec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="uzyjForme">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoItemFound">
        <soap:fault name="NoItemFound" use="literal"/>
      </fault>
      <fault name="ItemUsed">
        <soap:fault name="ItemUsed" use="literal"/>
      </fault>
    </operation>
    <operation name="umiescProdukt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dodajSurowiec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="zwrocListeIDProduktow">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Magazyn">
    <port name="MagazynPort" binding="tns:MagazynPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

